$alert: "\6ce8";
$down: "\964d";// angle-down
$up: "\6607";// angle-up
$check: "\5370";// check1
$close: "\9589";
$export: "\51fa";
$import: "\5165";
$plus: "\8db3";// plus1
$minus: "\5f15";
$attention: "\9583";// light-bulb
$edit: "\7de8";// pencil
$mark: "\7b8b";// pin2
$filter: "\7d5e";// filter1
$search: "\7d22";// search1
$settings: "\8a2d";
$remove: "\68c4";// trash1
$star: "\661f";// star-full
