@import "_mixin";

// loader
@keyframes dcmSquare {
    0%, 5% { transform: translate(0, 0); }
    20%, 30% { transform: translate(#{divceil(-20, 16)}, 0); }
    45%, 55% { transform: translate(#{divceil(-20, 16)}, #{divceil(20, 16)}); }
    70%, 80% { transform: translate(0, #{divceil(20, 16)}); }
    95%, 100% { transform: translate(0, 0); }
}
@keyframes ctgSquare {
    0%, 5% { transform: translate(0, 0); }
    20%, 30% { transform: translate(0, #{divceil(-20, 16)}); }
    45%, 55% { transform: translate(#{divceil(-20, 16)}, #{divceil(-20, 16)}); }
    70%, 80% { transform: translate(#{divceil(-20, 16)}, 0); }
    95%, 100% { transform: translate(0, 0); }
}
@keyframes tagSquare {
    0%, 5% { transform: translate(0, 0); }
    20%, 30% { transform: translate(#{divceil(20, 16)}, 0); }
    45%, 55% { transform: translate(#{divceil(20, 16)}, #{divceil(-20, 16)}); }
    70%, 80% { transform: translate(0, #{divceil(-20, 16)}); }
    95%, 100% { transform: translate(0, 0); }
}
@keyframes square {
    0%, 5% { transform: translate(0, 0); }
    20%, 30% { transform: translate(0, #{divceil(20, 16)}); }
    45%, 55% { transform: translate(#{divceil(20, 16)}, #{divceil(20, 16)}); }
    70%, 80% { transform: translate(#{divceil(20, 16)}, 0); }
    95%, 100% { transform: translate(0, 0); }
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	background: rgba(#fff, 0.75);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	visibility: visible;
	z-index: 9999;
	&.isHidden {
		visibility: hidden;
		pointer-events: none;
    }
	> div {
        position: relative;
        width: divceil(20*2, 16);
        height: divceil(20*2, 16);
        > div {
            position: absolute;
            border-radius: 2px;
            width: divceil(16, 16);
            height: divceil(16, 16);
            &:nth-child(1) {
                background: #75aae6;
                right: divceil((20-16)/2, 16);
                top: divceil((20-16)/2, 16);
                animation: dcmSquare 2000ms linear 0ms infinite;
            }
            &:nth-child(2) {
                background: #eb9494;
                right: divceil((20-16)/2, 16);
                bottom: divceil((20-16)/2, 16);
                animation: ctgSquare 2000ms linear 0ms infinite;
            }
            &:nth-child(3) {
                background: #ddc560;
                left: divceil((20-16)/2, 16);
                bottom: divceil((20-16)/2, 16);
                animation: tagSquare 2000ms linear 0ms infinite;
            }
            &:nth-child(4) {
                background: #a3a3a3;
                left: divceil((20-16)/2, 16);
                top: divceil((20-16)/2, 16);
                animation: square 2000ms linear 0ms infinite;
            }
        }
	}
}